.ProseMirror {
  position: relative;
  min-height: 95vh;
  max-height: 96vh;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;
  padding-left: 5px;
}

.ProseMirror ul, .ProseMirror ol {
  cursor: default;
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
  pointer-events: none; /* Don't do weird stuff with marker clicks */
}
.ProseMirror li > * {
  pointer-events: auto;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/*.wrapperClass {*/
  /*display: block;*/
  /*width: 300px;*/
  /*height: 200px;*/
/*}*/

/** Modal **/
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 11;
}

/* Modal Content */
.modal .modalContainer {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 40px 20px;
  border: 1px solid #888;
  width: 380px;
  min-height: 250px;
  z-index: 12;
}

.modal .modalContainer .dialogHeader {
  font-weight: bold;
}

.modal .modalContainer .fieldLabel {
  min-width: 100px;
  display: inline-block;
  cursor: pointer; cursor: hand;
  padding-right: 20px;
  font-size: 9pt;
}

.modal .modalContainer input.field {
  width: 200px;
}

.modal .modalContainer select.field {
  width: 204px;
}

.modal .modalContainer .req {
  color: #ff0000;
  display: inline-block;
}

.modal .modalContainer button {
  margin-right: 10px;
}

.modal .modalContainer #errorField {
  margin-top: 7px;
  color: red;
  display: none;
}

.modal .modalContainer #patternErrorField {
  color: red;
  display: none;
}

#editorContainer {
  display: flex;
  position: fixed;
  top: 0;
  overflow: hidden;
  left: 0px;
  max-height: 100vh;
  width: 100%;
}

#editor {
  flex: 1 1 auto;
  overflow: hidden;
  float: left;
}

#hierarchicalTreeDiv {
  flex: 0 0 300px;
  display: none;
  float: left;
  border-left: 1px solid #c0c0c0;
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
  background-color: #f1f1f1;
}

#editor .ProseMirror-menubar-wrapper .ProseMirror-menubar-wrapper {
  max-height: 96vh;
  display:flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-align-content: stretch;
  align-content: stretch;
}

/* PROSEMIRROR XML-VIEW */

.xmlTag .ProseMirror *[data-tag]::before,
.xmlTag .ProseMirror *[data-tag]::after {
  color: gray;
  font-family: monospace;
  font-size: xx-small;
  content: '<' attr(data-tag) '>';
}

.xmlTag .ProseMirror *[data-tag]::after {
  content: '</' attr(data-tag) '>';
}

.xmlTag .ProseMirror section[data-tag]::before,
.xmlTag .ProseMirror section[data-tag]::after,
.xmlTag .ProseMirror header[data-tag]::before,
.xmlTag .ProseMirror header[data-tag]::after,
.xmlTag .ProseMirror div[data-tag]::before,
.xmlTag .ProseMirror div[data-tag]::after,
.xmlTag .ProseMirror h1[data-tag]::before,
.xmlTag .ProseMirror h1[data-tag]::after,
.xmlTag .ProseMirror h2[data-tag]::before,
.xmlTag .ProseMirror h2[data-tag]::after,
.xmlTag .ProseMirror h3[data-tag]::before,
.xmlTag .ProseMirror h3[data-tag]::after,
.xmlTag .ProseMirror h4[data-tag]::before,
.xmlTag .ProseMirror h4[data-tag]::after,
.xmlTag .ProseMirror h5[data-tag]::before,
.xmlTag .ProseMirror h5[data-tag]::after,
.xmlTag .ProseMirror h6[data-tag]::before,
.xmlTag .ProseMirror h6[data-tag]::after,
.xmlTag .ProseMirror p[data-tag]::before,
.xmlTag .ProseMirror p[data-tag]::after,
.xmlTag .ProseMirror ul[data-tag]::before,
.xmlTag .ProseMirror ul[data-tag]::after,
.xmlTag .ProseMirror ol[data-tag]::before,
.xmlTag .ProseMirror ol[data-tag]::after,
.xmlTag .ProseMirror li[data-tag]::before,
.xmlTag .ProseMirror li[data-tag]::after {
  margin-left: -1em;
  display: block;
}

.xmlTag .ProseMirror section[data-tag],
.xmlTag .ProseMirror header[data-tag],
.xmlTag .ProseMirror div[data-tag],
.xmlTag .ProseMirror h1[data-tag],
.xmlTag .ProseMirror h2[data-tag],
.xmlTag .ProseMirror h3[data-tag],
.xmlTag .ProseMirror h4[data-tag],
.xmlTag .ProseMirror h5[data-tag],
.xmlTag .ProseMirror h6[data-tag],
.xmlTag .ProseMirror p[data-tag],
.xmlTag .ProseMirror ul[data-tag],
.xmlTag .ProseMirror ol[data-tag],
.xmlTag .ProseMirror li[data-tag] {
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

/* nicer <kop/> headings, temporary! this info should come from a style spec */

.ProseMirror > section > section > section > section > *[data-tag=kop] {
  font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
}
.ProseMirror > section > section > section > section > section > *[data-tag=kop] {
  font-size: 16pt;
  font-weight: bold;
  font-family: sans-serif;
}
.ProseMirror > section > section > section > section > section > section > *[data-tag=kop] {
  font-size: 14pt;
  font-weight: bold;
  font-family: sans-serif;
}
.ProseMirror > section > section > section > section > section > section > section > *[data-tag=kop] {
  font-size: 13pt;
  font-weight: bold;
  font-family: sans-serif;
}
.ProseMirror > section > section > section > section > section > section > section > section > *[data-tag=kop] {
  font-size: 12pt;
  font-weight: bold;
  font-family: sans-serif;
}
*[data-tag=label]::after, *[data-tag=nr]::after {
  content: ' ';
}
p[data-tag=titel] {
  display: inline-block;
}
*[data-tag=term] {
  font-style: italic;
}
*[data-tag=begrip] {
  margin-top: 1ex;
  margin-left: 1em;
}
*[data-tag=metadata] {
  background: lightgray;
  font-size: smaller;
}
.ProseMirror *[data-tag=metadaa] p {
  margin: 0;
}
*[data-tag=geometrie]::before {
  content: 'Bewerkingsgebied ' attr(type);
}
*[data-tag=geometrie] * {
  display: none;
}
