html, body {
  display: block;
  height: 100%;
}

body {
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  display: flex;
  background-color: rgb(243, 243, 243);
}

body#editor-page {
  background-color: rgb(255, 255, 255);
}

a {
  color: rgb(0, 133, 198);
}

#app {
  width: 100%;
}

.createNew {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(100, 104, 107);
}

.createNew--buttons {
    display: flex;
    width: 100%;
    height: 15vh;
    min-height: 150px;
    overflow-x: auto;
}

.createNew--button-wrapper {
  width: max-content;
  display: flex;
}

.createNew--buttons .btn--createDocument {
    display: flex;
    width: 10vh;
    min-width: 100px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid rgb(0, 133, 198);
    background-color: rgb(242, 242, 242);
    padding: 20px 10px 10px;
    text-align: center;
    hyphens: auto;
    line-height: 1.2em;
}

.createNew--buttons .btn--createDocument a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex-grow: 100;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: .8em;
}

.createNew--buttons .btn--createDocument:hover {
  background-color: rgb(0, 133, 198);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.createNew--buttons .btn--createDocument:hover .fa,
.createNew--buttons .btn--createDocument:hover a {
  color: rgb(255, 255, 255);
}

.createNew--buttons .btn--createDocument .fa {
  color: rgb(0, 133, 198);
  font-size: 2em;
}

.listExisting {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.listExisting--title {
  padding: 0 20px;
  margin-bottom: 0;
  color: rgb(0, 133, 198);
}

.files-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 1px;
}

.files-wrapper .schematitle {
    text-transform: capitalize;
    color: rgb(100, 104, 107);
    margin-bottom: 5px;
    padding-left: 5px;
}

.files {
    background-color: white;
    margin: 1px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.files--file-name:hover {
  background-color: rgb(237, 248, 255);
}

.files--file-name {
    margin: 0;
    align-items: center;
    display: flex;
    flex-grow: 100;
    padding: 10px 20px;
}

.files--file-link {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
}

.files .download-btn {
    display: flex;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border: none;
}

.files .download-btn a {
    display: block;
    padding: 5px 10px;
    font-size: 1.5em;
}

.files .download-btn:hover {
  background-color: rgb(0, 133, 198);
}

.files .download-btn:hover .fa{
  color: rgb(255, 255, 255);
}
