ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.tree ul {
    margin-left: 10px;
}
ul.tree li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    color: #666;
    font-size: 85%;
    border-left:1px solid rgb(100,100,100);
}
ul.tree li a {
    color: #666;
    text-decoration: none;
}
ul.tree li a:hover {
    color: #FF8A00;
    text-decoration: underline;
}
ul.tree li:last-child {
    border-left:none;
}
ul.tree li:before {
    position:relative;
    top:-0.3em;
    height:1em;
    width:12px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    left:-7px;
}
ul.tree li:last-child:before {
    border-left:1px solid rgb(100,100,100);
}