<body id="index-page">
    <div id="app">

      <div class="createNew">
        <h2 class="title createNew--title">Maak een nieuw Omgevingsdocument</h2>
        <div id="createButtons" class="createNew--buttons">
            <div class="createNew--button-wrapper">
                {{#each result}}
                <p class="btn btn--createDocument">
                    <a href="/editor/{{ schema }}/" title="{{ schema }}">
                      <icon class="fa fa-pencil-square-o" title="Open een nieuw {{ schema }} document"></icon>
                      {{ schema }}
                    </a>
                </p>
                {{/each}}
            </div>
        </div>
      </div>

      <div id="listExisting" class="listExisting"></div>
        <h2 class="title listExisting--title">Bestaande documenten</h2>
        {{#each result}}
            <div class="files-wrapper">
                <h3 class="schematitle">{{ schema }}</h3>
                {{#each documents}}
                    <div class="files">
                        <p class="files--file-name">
                            <a class="files--file-link" href="/editor/{{ ../schema }}/{{.}}" title="Open {{../schema}}/{{.}}">{{ . }}</a>
                        </p>
                        <p class="btn download-btn">
                            <a href="/documents/{{../schema}}/{{.}}" download="{{.}}" title="Download {{../schema}}/{{.}}">
                                <icon class="fa fa-download"></icon>
                            </a>
                        </p>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</body>
