<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
  <head>
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="nl" />
    <meta http-equiv="Accept-Language" content="nl" />
    <!--<meta http-equiv="content-type" content="text/html; nl-NL">-->
    <meta http-equiv="language" content="NL">
    <meta charset="utf-8"/>
    <title>Omgevingswet Maaksoftware</title>
    <link rel="stylesheet" href="/stylesheets/prosemirror.css"/>
    <link rel="stylesheet" href="/stylesheets/menu.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/tree.css" />
    <link rel="stylesheet" href="/stylesheets/ol.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
  </head>

  {{{ body }}}
  <script src="/bundle.js"></script>
</html>
